* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-size: 87.5%;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #000;
}

.container {
  background-color: $white;
  margin: 1rem 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  color: $pink;
}

p {
  margin-bottom: 1rem;

  text-align: justify;
}