@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.ttf") format("truetype");
  weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Bold.ttf") format("truetype");
  weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-RThin.ttf") format("truetype");
  weight: 100;
}